li.nav-item {
    padding: 2px 10px;
}
.navbar-light .navbar-nav .nav-link {
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(0, 0, 0, 0.91);
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
}
.navbar-light .navbar-nav .nav-link:before{
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: green;
    transition: all linear .3s;
}
.navbar-light .navbar-nav .nav-link:hover:before{
    width: 100%;
}
.navbar-light .navbar-nav .nav-link.active:before{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: green;
}
.navbar-light .navbar-nav .nav-link.active{
    color: green;
}
.nav-menu img {
    width: 30px;
}
.manu_option {
    position: absolute;
    background-color: rgb(249 249 249 / 78%);
    box-shadow: 0 0 10px #000;
    width: 560px;
    height: 785px;
    margin-left: 392px;
    margin-top: -62px;
}
.new_navs{
    list-style: none;
    display: inline-block;
    padding: 15px 15px 2px 0;
}
.new_navs a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 400;
    position: relative;
}
.new_navs a::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    bottom: -16px;
    left: 0;
    background-color:  skyblue;
    transition: all linear .3s;
}
.new_navs a:hover:before{
    width: 100%;
}
.new_navs a.active:before{
    width: 100%;
}
.new_navs a.active {
    color: #000;
    font-weight: bold;
}

.top_apps h6 {
    margin-top: 35px;
    margin-left: 40px;
}
.all_top_imgs {
    margin-left: 50px;
}
.top_imgs {
    background-color: #ffffff;
    box-shadow: 0 0 5px #999;
    margin-left: 13px;
    width: 90px;
    height: 85px;
    margin-top: 25px;
    display: inline-block;
}
.top_imgs:hover{
    box-shadow: 0 0 5px #000;

}
.top_imgs1 {
    width: 40px;
    text-align: center;
    margin-left: 25px;
    margin-top: 20px;
}
.recommended {
    margin-left: 40px;
    margin-top: 24px;
}
.rc_file img {
    width: 35px;
    margin-top: 15px;
}
.rec_files {
    margin-left: 50px;
    margin-top: -40px;
}
.rec_files h5 {
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
    color: #000;
    /* margin-top: 0px; */
}
.rec_files h5 span {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    color: #999;
}
/* #search{
    position: relative;
} */

.search_text h3{
    font-family: "Roboto";
    font-size: 60px;
    font-weight: 300;
    margin-top: 50px;
}
.search_text h3 a{
    text-decoration: none;
    color: #999;
}
.search_box {

    width: 50%;
    /* position: relative; */
    outline: none;
    border: none;
    padding: 10px 10px 10px 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px #999;
    margin-top: 15px;
}
.button {
    background: none;
    margin-top: -1px;
    padding: 0;
    outline: none;
    border: none;
}
button:focus {
    outline: none;
}
.icons {
    /* position: absolute; */
    margin-top: -36px;
    margin-left: 420px;
}
.img1 {
    width: 25px;
    margin-right: 10px;
}
.img2{
    margin-right: 10px;
    width: 25px;
}
.img3{
    margin-right: 10px;
    width: 25px;
}
.modal-content {
    margin-top: 260px;
}
.modal-header h5 {
    margin-left: 95px;
    color: #999;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto";
}
.modal-header h5 p {
    margin-left: 8px;
    font-size: 17px;
    margin-top: 12px;
}
.pest {
    margin-right: 110px;
    margin-top: -85px;
}
.btn_img {
    width: 30px;
}
.take {
    margin-top: -81px;
}

.img_files{
    border: 2px dotted  #999;
    border-bottom: none;
    height: 150px;
}
.img_files img {
    width: 30px;
    margin-left: 45px;
    margin-right: 12px;
}
.img_files p{
    margin-top: 30px;
    display: inline-block;
}
.images_section {
    margin-top: 15px;
    margin-bottom: 25px;
}
.img_gr {
    margin-bottom: 20px;
}
.img_gr img{
    border-radius: 10px;
}
.img_grp img{
    border-radius: 10px;
}
/* font-family: "Roboto"; */